<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Mj2zIR3yLj2IqqLnkS3gp2k0_xg4TZA" async defer></script>
    <script src="script/script.js"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>Lab5</title>
  </head>
  <body ng-app="app" ng-controller="appController">
    <div class="parametrs-with-i">
      <div class="parametrs">
        <form class="params">

          <label>Price min: <input type="number" name="price_min" placeholder="0"> </label>
          <label>Price max: <input type="number" name="price_max" placeholder="99999"> </label>
          <hr>
          <label>Rooms min: <input type="number" name="room_min" placeholder="0"> </label>
          <label>Rooms max: <input type="number" name="room_max" placeholder="99999"> </label>
          <hr>
          <label>Bedrooms min: <input type="number" name="bedroom_min" placeholder="0"></label>
          <label>Bedrooms max: <input type="number" name="bedroom_max" placeholder="99999"></label>
          <hr>
          <label>Bathroom min: <input type="number" name="bathroom_min" placeholder="0"></label>
          <label>Bathroom max: <input type="number" name="bathroom_max" placeholder="99999"></label>

        </form>
      </div>
      <div class="hover"></div>
    </div>
    <div class="head">
      <div  class="tl position-01 hov"></div>
      <div  class="tl position-02 hov"></div>
      <div  class="tl position-03 hov"></div>
      <div  class="tl position-04 hov"></div>
      <div  class="tl position-05 hov"></div>

      <div class="main">

        <div class="tile position-0-0"></div>
        <div class="tile position-0-1"></div>
        <div class="tile  position-0-3"></div>
        <div class="tile  position-0-4"></div>
        <div class="tile  position-0-5"></div>

        <div class="tile  position-1-1"></div>
        <div class="tile  position-1-3"></div>
        <div class="tile  position-1-4"></div>
        <div class="tile  position-1-5"></div>
        <div class="tile  position-2-1"></div>
        <div class="tile  position-2-2"></div>

        <div class="search  position-2-3" >

          <select class="country">
            <option value="es">España</option>
            <option value="uk">UK</option>
            <option value="de">Deutschland</option>
            <option value="fr">France</option>
            <option value="ch">Chile</option>
            <option value="mx">México</option>
            <option value="br">Brasil</option>
            <option value="in">India</option>
            <option value="pe">Perú</option>
            <option value="au">Australia</option>
            <option value="ph">Philippines</option>
            <option value="pl">Polska</option>
          </select>

          <label>
            <input  id="buy" type="radio" name="listing-type" value="buy" checked>
            buy
          </label>

          <label>
            <input id="sale"  type="radio" name="listing-type" value="sale">
            sale
          </label>


          <input class="city" type="search" name="city" placeholder="London">
          <img ng-click="search()" id="search" src="img/search.png" alt="search" />
          <img ng-click="like()" class="likedd" src="img/heart.png" alt="" />


        </div>

        <div class="tile  position-3-1"></div>
        <div class="tile  position-3-2"></div>
        <div class="tile  position-3-4"></div>
        <div class="tile  position-3-5"></div>
        <div class="tile  position-3-6"></div>
        <div class="tile  position-4-1"></div>
        <div class="tile  position-4-2"></div>
        <div class="tile  position-4-3"></div>

        <div class="logo  position-0-2">

          <img id="nestoria" src="img/nestoria.png" alt="lab4" />
        </div>

      </div>

      <div  class="tl position-1 hov"></div>
      <div  class="tl position-2 hov"></div>
      <div  class="tl position-3 hov"></div>
      <div  class="tl position-4 hov"></div>
      <div  class="tl position-5 hov"></div>

    </div>

    <div class="items" ng-repeat="count in data">
      <a href="#{{ $index }}">
        <div class="listing-list" >
          <img class="" ng-src="{{count.img_url}}">
          <span class="price">{{ count.price_formatted }}</span><br>
          <span class="title">{{ count.title }}</span><br>
          <span class="summary">{{ count.summary }}</span><br>
          <span class="updated">{{ count.updated_in_days_formatted }}</span>
        </div>
      </a>
        <img class="like" src="img/heart-outline.png" ng-click="liked($event)" name="{{ $index }}">
    </div>

    <div class="item">
    </div>

    <div>
      <div id="content">
        <div id="pagination" class="row">
          <button class="pull-left btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
          <span>{{currentPage+1}} из {{numberOfPages()}}</span>
          <button class="pull-right  btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
        </div>
      </div>
    </div>


    <div ng-view></div>
  </body>
</html>
